/* 
    Created on : 15/06/2016, 20:23:59
    Author     : Érico de Souza Loewe
*/

body {
    background: #e9e5dc;
}
 
.default-background {
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.default-shadow {
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.navbar {
    min-height: 75px;
    border-radius: 0;
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.4);
    box-shadow: 0px 2px 4px rgba(0,0,0,.4);
}

    .navbar-brand {
        font-family: "Pacifico", sans-serif;
        height: 60px;
        padding: 15px;
        color: #CCCCCC;
    }
    
        .navbar-brand img {
            display: inline-block;
            margin-top: -8px;
            background-color: #666;
        }
        
        .navbar-brand:hover img,
        .navbar-brand:focus img {
            background-color: #4285f4; 
        } 

    .navbar-right {}
        
        .navbar-nav > li > a {
            padding-top: 26px;
            padding-bottom: 26px;
            font-size: 18px;
            line-height: 22px;
        }        

        .navbar-nav > li .badge-notify {
            position:relative;
            top: -15px;
            left: -15px;
            border-radius: 5px;
            background:#FF5252;
        }
        
        .navbar-nav > li:hover .badge-notify {
            background: #E63939;
        }
        
        .solicitacoes-dropdown {
            padding: 0;
        }
        
            .solicitacoes-dropdown .media {
                padding: 5px;
                margin-top: 0;
                border-top: #FFFFFF solid 1px;
            }        
            
            .solicitacoes-dropdown .media:first-of-type {
                border-top: none;
            }
            
            .solicitacoes-dropdown .media:hover,
            .solicitacoes-dropdown .media:focus {
                color: #4285f4;
                background-color: #FFFFFF;
            }

                .solicitacoes-dropdown .media-left {}

                    .solicitacoes-dropdown .media-object {
                        width: 64px;
                        height: 64px;
                    }

                .solicitacoes-dropdown .media-body {
                    min-width: 185px;
                    color: #FFFFFF;
                }
                
                .solicitacoes-dropdown .media:hover .media-body,
                .solicitacoes-dropdown .media:focus .media-body {
                    color: #4285f4;
                }
                
                    .solicitacoes-dropdown .media-heading {
                        color: #FFFFFF;
                    }
                    
                    .solicitacoes-dropdown .media:hover .media-heading,
                    .solicitacoes-dropdown .media:focus .media-heading {
                        color: #4285f4;
                    }

                    .solicitacoes-dropdown .media-body .btn-solicitacao {
                        float: left;
                    }
                    
                    .solicitacoes-dropdown .media-body .btn-solicitacao + .btn-solicitacao {
                        margin-left: 5px;
                    }
        
        .navbar-nav > li > a.user-picture {
            padding: 10px 0;
        }
        
            .navbar-right > li > a.user-picture > img { 
                position: relative;
                margin: auto 5px;
                width: 60px;
                height: 55px;
            }
            
.icone-carregando {
    font-size: 100px;
    line-height: 100px;
    left: 50%;
    margin-left: -50px;
    padding: 20px 0;
    color: #4285f4;
}

@media (max-width: 992px) {
    .btn {
        margin-top: 15px;
        width: 100%;
    }
    
    .navbar-header {
        padding-bottom: 13px;
    }
}

@media (max-width: 768px) {
    
}
            
/* mixins */
.btn-full {
    width: 100%;
}