/* 
    Created on : 15/06/2016, 20:23:59
    Author     : Érico de Souza Loewe
*/

body {
    background: #e9e5dc;
}

.default-background {
    padding: 5px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px 1px rgba(170,170,170,0.75);
}

.default-shadow {
    box-shadow: 0px 0px 15px 1px rgba(170,170,170,0.75);
}

.navbar {
    min-height: 75px;
    border-radius: 0;
    box-shadow: 0px 5px 15px 0px rgba(170,170,170,0.75);
}

    .navbar-brand {
        font-family: "Pacifico", sans-serif;
        height: 60px;
        padding: 15px;
        color: #CCCCCC;
    }
    
        .navbar-brand img {
            display: inline-block;
            margin-top: -8px;
            background-color: #666;
        }
        
        .navbar-brand:hover img,
        .navbar-brand:focus img {
            background-color: #4285f4; 
        } 

    .navbar-right {}
        
        .navbar-nav > li > a {
            padding-top: 26px;
            padding-bottom: 26px;
            font-size: 18px;
            line-height: 22px;
        }        

        .navbar-nav > li .badge-notify {
            position:relative;
            top: -15px;
            left: -15px;
            border-radius: 5px;
            background:#FF5252;
        }
        
        .navbar-nav > li:hover .badge-notify {
            background: #E63939;
        }
        
        .navbar-nav > li > a.user-picture {
            padding: 10px 0;
        }
        
            .navbar-right > li > a.user-picture > img { 
                position: relative;
                margin: auto 5px;
                width: 60px;
                height: 55px;
            }