/cola-ai/cola-ai-entity/target/
/cola-ai/cola-ai-security/target/
/cola-ai/cola-ai-web/target/
/cola-ai/cola-ai-service/target/
/src/cola-ai/cwi-colaai-web/target/
/src/cola-ai/cwi-colaai-service/target/
/src/cola-ai/cwi-colaai-security/target/
/src/cola-ai/cwi-colaai-entity/target/
/src/cwi-colaai/cwi-colaai-entity/target/
/src/cwi-colaai/cwi-colaai-service/target/
/src/cwi-colaai/cwi-colaai-web/target/
/src/cwi-colaai/cwi-colaai-security/target/