/src/cwi-colaai/cwi-colaai-entity/target/
/src/cwi-colaai/cwi-colaai-service/target/
/src/cwi-colaai/cwi-colaai-web/target/
/src/cwi-colaai/cwi-colaai-security/target/

*.class
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/src/cwi-colaai/cwi-colaai-service/nbproject/