/* 
    Created on : 05/07/2016, 14:56:00
    Author     : alycio.neto
*/

.adminitrar-itinerario .panel{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 18em;
}

.adminitrar-itinerario .panel-body{
    height: 100%;
    position: relative;
}

.adminitrar-itinerario .btn-excluir{
    position: absolute;
    bottom: 70px;
}
