/* 
    Created on : 30/06/2016, 13:34:52
    Author     : Érico de Souza Loewe
*/

.lista-de-grupos-home {}

    .lista-de-grupos-home .grupo {}
    
        .lista-de-grupos-home .grupo .media-heading {}
    
            .lista-de-grupos-home .vagas {
                margin-left: 10px;
                vertical-align: middle;
            }
            
                .lista-de-grupos-home .vagas > i {
                    margin: 2px;
                    color: #CCC;
                }
                
                .lista-de-grupos-home .vagas > i.ocupada {
                    color: inherit;
                }
    
        .lista-de-grupos-home .usuario {}
        
            .lista-de-grupos-home .usuario .media-object {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            
            .lista-de-grupos-home .usuario .media-body {
                vertical-align: middle;
            }
            
.lista-de-grupos-recomendados-home {}

    .lista-de-grupos-recomendados-home .grupo {}
    
        .lista-de-grupos-recomendados-home .grupo .media-heading {}
    
            .lista-de-grupos-recomendados-home .vagas {
                margin-left: 10px;
                vertical-align: middle;
            }
            
                .lista-de-grupos-recomendados-home .vagas > i {
                    margin: 2px;
                    color: #CCC;
                }
                
                .lista-de-grupos-recomendados-home .vagas > i.ocupada {
                    color: inherit;
                }
                
        
    
        .lista-de-grupos-recomendados-home .usuario {}
        
            .lista-de-grupos-recomendados-home .usuario .media-object {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            
            .lista-de-grupos-recomendados-home .usuario .media-body {
                vertical-align: middle;
            }
            
.content > .container > .row > .col-md-6 {
    margin-bottom: 15px;
}
            
@media (min-width: 992px) {
    .lista-de-grupos-recomendados-home .btn-solicitacao {
        float: right;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}