/* 
    Created on : 01/07/2016, 17:14:11
    Author     : alycio.neto
*/

.cadastrar-usuario .span-file {
	position: relative;
	width: 100%;
}
​
.cadastrar-usuario .span-file > .file {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
}