<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{page.cadastrar.titulo}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bundle/main.min.css}"/>
    </head>
    <body> 
        <div class="container">
            <div class="row login-form">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default default-shadow">
                        <div class="panel-heading">
                            <h2 class="panel-title" th:text="#{page.cadastrar.cabecalho}" />
                        </div>
                        <div class="panel-body">
                            <form th:action="@{/salvar}" method="POST" th:object="${usuario}">
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.nome}" />
                                    <input type="text" class="form-control" name="nome" th:placeholder="#{page.cadastrar.placeholder.nome}"/>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.sobrenome}" />
                                    <input type="text" class="form-control" name="sobrenome" th:placeholder="#{page.cadastrar.placeholder.sobrenome}"/>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.telefone}" />
                                    <input type="text" class="form-control" name="telefone" th:placeholder="#{page.cadastrar.placeholder.telefone}"/>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.sexo}" class="control-label"></label>
                                    <select class="form-control" name="sexo" th:field="*{sexo}">
                                        <option th:each="state : ${T(br.com.cwi.colaai.entity.SexoPessoa).values()}" th:value="${state}" th:text="${state}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.email}" />
                                    <input type="email" class="form-control" name="email" th:placeholder="#{page.cadastrar.placeholder.email}"/>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.senha}" />
                                    <input type="password" class="form-control" name="senha" th:placeholder="#{page.cadastrar.placeholder.senha}"/>
                                </div>
                                 <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.confirmarSenha}" />
                                    <input type="password" class="form-control" name="confirmarSenha" th:placeholder="#{page.cadastrar.placeholder.confirmarSenha}"/>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.cadastrar.label.foto}" />
                                    <input type="file" class="form-control" name="imagem"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" th:utext="#{page.cadastrar.btn.submit}"/>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>                
            </div>            
        </div>
    </body>
</html>