<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cola-ai-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img th:src="@{/media/img/logo-inverted-xs.png}" th:alt="#{page.header.logo.imagem.alt}"/> COLA AI
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="cola-ai-navbar-collapse">                    
                    <!--right-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:href="@{/logout}" class="logout" th:title="#{page.header.sair}">
                                <i class="glyphicon glyphicon-log-out"></i>
                            </a>
                        </li>
                        <li>
                            <img class="user-picture img-circle" th:src="${#authentication.principal.foto}" th:alt="#{page.header.usuario.imagem.alt}"/>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>