<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{page.login.titulo}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bundle/main.min.css}"/>
    </head>
    <body> 
        <div class="container">
            <div class="row login-usuario">
                <div class="col-sm-12 login-logo">
                    <img class="login-logo-img" th:src="@{/media/img/logo-escrita-gray.png}" />
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default default-shadow">
                        <div class="panel-heading">
                            <h2 class="panel-title" th:text="#{page.login.cabecalho}"/>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-danger" th:if="${param.error}" th:text="#{page.login.alert.error}" />
                            <div class="alert alert-info" th:if="${param.logout}" th:text="#{page.login.alert.logout}" />
                            <div class="alert alert-info" th:if="${param.tokenAprovado}" th:text="#{page.login.alert.tokenAprovado}" />
                            <div class="alert alert-success" th:if="${param.cadastro}" th:text="#{page.login.alert.cadastro}" />
                            <div class="alert alert-success" th:if="${param.senhaAlterada}" th:text="#{page.login.alert.senhaAlterada}" />
                            <div class="alert alert-success" th:if="${param.verifiqueEmail}" th:text="#{page.login.alert.verifiqueEmail}" />
                            
                            <form id="login-usuario-form" th:action="@{/login}" method="POST">
                                <div class="form-group">
                                    <label th:text="#{page.login.label.usuario}" />
                                    <input id="existeEmail" type="email" class="form-control validar-email" name="username" th:placeholder="#{page.login.placeholder.usuario}" required="" />
                                </div>
                                <div class="form-group">
                                    <label th:text="#{page.login.label.senha}" />
                                    <input type="password" class="form-control validar-senha" name="password" th:placeholder="#{page.login.placeholder.senha}" required="" />
                                </div>
                                <div class="checkbox">
                                    <label th:utext="#{page.login.label.lembrar}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" th:utext="#{page.login.btn.entrar}" />
                                    <a th:href="@{/cadastrar}" class="btn btn-default" th:utext="#{page.login.btn.cadastrar}" />
                                    <a th:href="@{/esqueceuSenha}" class="btn btn-default pull-right" th:utext="#{page.login.btn.esqueceuSenha}" />
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>                
            </div>            
        </div>

        <script th:src="@{/bundle/main.min.js}"></script>
    </body>
</html>