<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title th:text="#{page.usuario.configuracoes.titulo}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bundle/main.min.css}"/>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="default-background">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#configuracoes" data-toggle="tab" aria-expanded="true" th:text="#{page.usuario.configuracoes.cadastro}"/></li>
                            <li><a href="#senha" data-toggle="tab" aria-expanded="true" th:text="#{page.usuario.configuracoes.senha}"/></li>
                            <li><a href="#foto" data-toggle="tab" aria-expanded="true" th:text="#{page.usuario.configuracoes.foto}"/></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="configuracoes">
                                <form id="alterar-cadastro-form" th:action="@{/usuario/alterarCadastro}" class="formulario-validado" method="POST" th:object="${usuarioViewModel}">

                                    <div class="form-group">
                                        <label for="nome" th:text="#{page.usuario.configuracoes.label.nome}" />
                                        <input type="text" id="nome" name="nome" class="form-control validar-nome" th:value="${usuarioViewModel.nome}" th:placeholder="#{page.usuario.configuracoes.placeholder.nome}" required="" maxlength="255" />
                                        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="sobrenome" th:text="#{page.usuario.configuracoes.label.sobrenome}" />
                                        <input type="text" id="sobrenome" class="form-control validar-sobrenome" name="sobrenome" th:value="${usuarioViewModel.sobrenome}" th:placeholder="#{page.usuario.configuracoes.placeholder.sobrenome}" required="" maxlength="255"/>
                                        <p th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}">Name Error</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefone" th:text="#{page.usuario.configuracoes.label.telefone}" />
                                        <input type="text" id="telefone" class="form-control validar-telefone" name="telefone" th:value="${usuarioViewModel.telefone}" th:placeholder="#{page.usuario.configuracoes.placeholder.telefone}" maxlength="17" required="" />
                                        <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Name Error</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="sexo" th:text="#{page.usuario.configuracoes.label.sexo}" class="control-label"></label>
                                        <select id="sexo" class="form-control validar-sexo" name="sexo" required="">
                                            <option th:value="${usuarioViewModel.sexo.name()}" th:text="${usuarioViewModel.sexo.name()}"/>
                                            <option th:each="state : ${T(br.com.cwi.colaai.entity.SexoPessoa).values()}" th:value="${state}" th:text="${state}"></option>
                                        </select>
                                        <p th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}">Name Error</p>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default" th:utext="#{page.usuario.configuracoes.btn.submit}"/>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="senha">
                                <form id="alterar-senha-form" class="formulario-validado" th:action="@{/usuario/alterarSenha}" method="POST" th:object="${usuarioViewModel}">

                                    <div class="form-group">
                                        <label for="senha" th:text="#{page.usuario.configuracoes.label.senha}" />
                                        <input type="password" id="senha" class="form-control validar-senha" name="senha" th:placeholder="#{page.usuario.configuracoes.placeholder.senha}" required="" maxlength="50"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmarSenha" th:text="#{page.usuario.configuracoes.label.confirmarSenha}" />
                                        <input type="password" id="confirmarSenha" class="form-control validar-confirmarSenha" name="confirmarSenha" th:placeholder="#{page.usuario.configuracoes.placeholder.confirmarSenha}" required="" maxlength="50"/>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default" th:utext="#{page.usuario.configuracoes.btn.submit}"/>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade " id="foto">
                                <div class="row">
                                    <div class="col-md-4 pull-right ">
                                        <img th:src="${usuarioViewModel.foto}" class="img-circle img-responsive"/>
                                    </div>

                                    <form id="alterar-imagem-form" class="col-md-8 pull-right formulario-validado" th:action="@{/usuario/alterarImagem}" enctype="multipart/form-data" method="POST" th:object="${usuarioViewModel}">

                                        <div class="form-group">
                                            <label for="arquivo" th:text="#{page.usuario.cadastrar.label.foto}" />
                                            <span class="span-file btn btn-default">
                                                <th:block th:utext="#{page.usuario.configuracoes.btn.arquivo}"/>                                                
                                                <input id="file" class="file validar-arquivo validar-tamanho-arquivo" type="file" name="file" accept="image/*" />
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default" th:utext="#{page.usuario.configuracoes.btn.submit}"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
